.sign-up-form{
    border: #4c4949 1px solid;
    width: 1087px; 
    height: 1604px; 
    margin: 120px auto;
}

.form-control{
    border-radius: 50px; 
    width: 718px; 
    height: 94px; 
    margin-left: 202px; 
    font-size: 30px; 
    padding-left: 24px;
}

.full-name{
    margin-top: 408px;
}

.phone-number, .email, .pass, .pass-confirm{
    margin-top: 56px;
}

.form-check{
    margin-top: 27px;
    margin-left: 219px;
}

.form-check-input{
    width: 30px; 
    height: 30px; 
}

.text-check{
    font-size: 30px; 
    margin-left: 15px;
}

.register{
    border-radius: 50px; 
    font-weight: bold; 
    font-size: 40px; 
    width: 717px; 
    height: 110px; 
    margin-left: 203px; 
    margin-top: 42px; 
    background-color: #73BBFE; 
    border: none;
}

.other-register-text{
    font-size: 30px; 
    margin-left: 423px; 
    margin-top: 0px; 
    color: #968C8C;
}

.other-register{
    margin-top: 30px;
}

.logo-gg{
    margin-left: 398px;
}

.logo-fb, .logo-zalo{
    margin-left: 81px;
}